<div class="card">
    <div class="card-header">
        <h6>Login</h6>
    </div>
    <div class="card-body">
        <form action="/user/login" method="post">
            <div class="input-group mb-2 input-block">
                <div class="input-group-prepend">
                    <div class="input-group-text">Email</div>
                </div>
                <input type="text" class="form-control input-block" name="email" required>
            </div>
            <div class="input-group mb-2 input-block">
                <div class="input-group-prepend">
                    <div class="input-group-text">Password</div>
                </div>
                <input type="password" class="form-control input-block" name="password" required>
            </div>
    </div>
    <div class="card-footer">
        <div>
            <button type="submit" class="btn btn-success input-block">Submit</button>
        </div>
    </div>
    </form>
</div>